<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-content padding>



  <div padding>
    <ion-segment [(ngModel)]="opt" color="light">
      <ion-segment-button value="signin">
        Sign In
      </ion-segment-button>
      <ion-segment-button value="signup">
        Sign Up
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="opt">
    <form *ngSwitchCase="'signin'">

      <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>



      <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input>


      <div padding text-center>
        <button ion-button (click)="signin()" round color="light" icon-right>
          {{ 'SIGNIN'}} <ion-icon name="log-in"></ion-icon>
        </button>
      </div>


    </form>

    <form *ngSwitchCase="'signup'">

      <ion-input type="text" [(ngModel)]="account.fullname" name="fullname" placeholder="Fullname"></ion-input>

      <ion-input type="Number" [(ngModel)]="account.mobile" name="mobile" placeholder="Phone"></ion-input>

      <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>

      <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input>

      <ion-input type="password" [(ngModel)]="account.confirm_password" name="confirm_password" placeholder="Password">
      </ion-input>


      <div padding text-center>
        <button ion-button round (click)="signup()" color="light" icon-right>
          {{ 'SIGNUP' }}
        </button>
      </div>


    </form>

  </div>
</ion-content>