<ion-header>
  <ion-navbar class="nav-clr">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <div *ngFor="let item of product" (click)="goToProductPage(item)">

      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <ion-card class="card-img">
          <img src="./assets/products/{{item.productImgUrl}}" class="thumba-img style">
          <hr>
          <h2>{{item.productName}}</h2>
          <div class="btn-rate">
            <button ion-button class="rating">{{item.rating}} &nbsp; <ion-icon name="star"></ion-icon></button>
          </div>
          <div class="price-color"><b>₹ {{item.price}}</b></div>
        </ion-card>
      </div>


    </div>

  </ion-list>
</ion-content>