page-home {
.price-color{
    color:red;
    padding-bottom: 5%;
    padding-left: 5%;
}
.home-background{
    background-color: bisque;
}
.nav-clr{
    background-color: bisque;
}
.card-img{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
//     box-shadow: 2px 5px 2px 3px #cec3c3;
//    background-color: aquamarine;
}
// b{
//     padding:5%;
// }
.rating{
    // padding:5%;
    background-color: green;
}
.btn-rate{
padding:3%;
}
h2{
    padding:3%;
}
}
