<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="nav-clr">
    <ion-title>Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-background">
  <div>
    <ion-card class="card-img">
      <img src="./assets/products/{{product.productImgUrl}}" class="more-img style" /> <br>
    </ion-card>
    
    
      <h3>{{product.productName}}</h3>
      <div class="btn-rate">  
          <button ion-button class="rating">{{product.rating}} &nbsp; <ion-icon name="star"></ion-icon></button>
        </div>
      <div class="price"> <b>₹ Price : {{product.price}}</b></div>
    

    <p ion-text class="txt-style"><b>Description :</b> {{product.descriptions}} </p>
    <b>Quantity :</b>
    <button clear (click)="decrementQty()">
      <ion-icon name="remove-circle"></ion-icon>
    </button>{{qty}}
    <button clear (click)="incrementQty()">
      <ion-icon name="add-circle"></ion-icon>
    </button>

    <br><br>
    <button ion-button full class="btn-cart" (click)="addCart(product,qty)">
      <ion-icon name="cart"></ion-icon>Add to cart
    </button><button ion-button full class="btn-buy" (click)="checkout(product,qty)">BUY NOW</button>
    <hr>

  </div>
</ion-content>