page-product {
.price{
    color: red;
    padding-left: 5%;
    padding-bottom: 5%;
}
.btn-buy{
    background-color: green;
}
.btn-cart{
    background-color: goldenrod;
}

.nav-clr{
    background-color: bisque;
}
.card-img{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  
}
.rating{
    // padding:5%;
    background-color: green;
}
.btn-rate{
    padding:3%;
    }

    //decriptions style
    .txt-style{
        line-height: 2;
        text-align: justify;
    }
}
